body {
    background-color: rgb(21, 21, 20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(21, 21, 20);
}


.Hi  {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-left: 00px;
    margin-right: 00px;
    background-color: rgb(21, 21, 20);
}


.title_2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 00px;
    margin-right: 00px;
    background-color: rgb(21, 21, 20);
}

.title {
    width: 700px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: rgb(21, 21, 20);
}

ul {
    list-style-type: none;
    background-color: rgb(21, 21, 20);
}

li{
   color: white;
    font-size: 25px;
    text-align: center;
    margin-left: 00px;
    margin-right: 00px; 
    background-color: rgb(21, 21, 20);
}


img {
    width: 700px;
    margin-left: 10px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgb(21, 21, 20);
}

.plate {
    width: 500px;
    background-color: rgb(21, 21, 20);
}

.tovar {
    width: 500px;
    background-color: rgb(21, 21, 20);
}



button {
    outline: none; 
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgb(21, 21, 20);
    width: 200px;
    height: 60px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

button:hover {
    background-color: white;
    color: black;
}

video {
    width: 700px;
    border-radius: 25px;
    background-color: rgb(21, 21, 20);
}


a {
    color: rgb(151, 151, 151);
    background-color: rgb(21, 21, 20);
}